/* header and navigation styles */


nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 170px;

}
nav h2{
    font-weight: 700;
    font-size: 24px;
}
nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 70px;
}

.banner-text{
    text-align: center;
    margin-top: 100px;
    
}
.banner-text h1{
    font-weight: 700;
    font-size: 45px;

}
.banner-text p{
    color: #757575;
}

.btn-primary{
    color: #FFFFFF;
    background:  #fd6e0a;;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid  #fd6e0a;;
}


.banner-sub-title img{
    width: 1000px;
    height: 500px;
    margin-left: 190px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header{
   
    background: rgba(255, 144, 14, 0.1);
   
}

/* image and features styles */

.features-title{
   
    margin-top: 60px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.feature-icon{
    display: flex;
}
.sub-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-list{
    margin-left: 70px;
    margin-top: 120px;
}
.feature-list h2{
  font-size: 35px;
  color: #918686d0;
}
.feature-list p{
    color: #757575;
    padding-bottom: 10px;

}
.text-primary{
    color: black;
}
.text-danger{
    color: #fd6e0a;
}